/*title border*/
.jumbotron{
    background-color: grey;
    padding: 20px;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.csspadding>h1, .cssBorder>h1, .cssMargin>h1{
    background-color: teal;
    color: #fff;
    border-radius: 5px;
}

/*css padding code*/
.cssPadding>h1:nth-child(1){
    padding: 50px;

}
.cssPadding>h1:nth-child(2){
    padding: 25px 75px;

}
.cssPadding>h1:nth-child(3){
    padding: 25px 50px 75px;
}
.cssPadding>h1:nth-child(4){
    padding: 25px 50px 75px 100px;
}

/*p2.html*/
/*CSS BORDER CODE*/
.cssBorder>h1{
    padding: 20px;/*apply for all*/
}
.cssBorder>h1:nth-child(1){
    border: 5px solid red;
}
.cssBorder>h1:nth-child(2){
    border: 5px;
    border-color: red blue; /*apply for vertical horizontal side*/
    border-style: solid;
}
.cssBorder>h1:nth-child(3){
    border: 5px;
    border-color: red blue black; /*apply for horizontal bottom side*/
    border-style: solid;
}
.cssBorder>h1:nth-child(4){
    border: 5px;
    border-color: red blue black green; /*apply for right bottom and left*/
    border-style: solid;
}

/*css margin code*/
.cssMargin>h1:nth-child(1){
    margin: 50px; /*apply for all*/
}
.cssMargin>h1:nth-child(2){
    margin: 25px 75px; /*apply for vertical horizontal sides*/
}
.cssMargin>h1:nth-child(3){
    margin: 25px 50px 75px; /*apply for top horizontal bottom sides*/
}
.cssMargin>h1:nth-child(4){
    margin: 25px 50px 75px 100px; /*apply for top right and left sides*/
}

/*css box model*/
.cssBoxModel{
    background-color: bisque;
    padding: 20px;
    border: 5px solid #000;
    margin: 30px;
    color: #808080;
}
